{% include "Chemdb/head.html" %}

<div class="w3-light-grey w3-container w3-padding-64 w3-center" >
  <h1 class="w3-jumbo">Sklad chemikálií</h1>
  <p>O aplikaci</p>
</div>

{% include "Chemdb/menu.html" %}


<div class="w3-card-4 w3-light-grey">
<div class="w3-row">
    <div class="w3-col" style="width:20%"><p class="w3-text-light-grey">20%</p></div>
    <div class="w3-col" style="width:60%">

    <p >
        Od roku 2009 byl sklad chemikálií na VŠCHT Praha spravován pomocí stand-alone aplikace.
        V odpověď na podněty z řad zaměstnanců se VŠCHT Praha rozhodla pro vytvoření nové webové
        verze skladu chemikálií, která by byla přístupná nejen správci skladu, ale i zaměstnancům.
    </p>
    <p >
        Základní verze nové aplikace umožňuje správci skladu přidávat jednotlivé chemikálie na sklad
        a upravovat jejich množství na skladě.
        Ostatním uživatelům pak umožňuje prohlížet si databázi chemikálií a objednávat si potřebné
        množství chemikálie.
        Dále aplikace umožňuje všem uživatelům vyhledávat v databázi skladu podle různých kritérií
        a následně vyhledané sloučeniny stáhnout nebo s nimi dále pracovat.
    </p>
    <p >
       V současné době se jedná pouze o základní verzy aplikace, a proto je možné na žádost uživatelů,
       přidat další funkce nebo současné funkce pozměnit. Neváhejte se tedy svými podněty obrátit
       na náš email, který naleznete v <a href="/contact">Kontaktech</a>.
    </p>
    <p class="w3-small w3-right">
        Aplikace byla vytvořena pomocí Django framework 1.9 a python 3.5
    </p>
    </div>

</div>
</div>


{% include "Chemdb/foot.html" %}