{% include "Chemdb/head.html" %}

<div class="w3-light-grey w3-container w3-padding-64 w3-center" >
  <h1 class="w3-jumbo">Sklad chemikálií</h1>
  <p>Kontakty</p>
</div>

{% include "Chemdb/menu.html" %}

<div class="w3-card-4 w3-light-grey w3-center">

    <p>Sklad se nachází v budově A, severozápadním směrem od stanice metra Dejvická, u Vítězného náměstí v Praze 6.</p>
        <p >
    VŠCHT Praha má v Dejvicích tři budovy:
        <br>
    Budova A – Technická 5 – dále od stanice metra
        <br>
    Budova B – Technická 3 – blíže ke stanici metra
        <br>
    Budova C – Studentská 6</p>
    <p ><img src="/static/obr/pata_mapa.jpg"style="width:7cm;height:10cm"></p>
    <br>
</div>
<br>
<div class="w3-third w3-center">
<div class="w3-card-4 w3-orange"style="height: 4.5cm;width: 95%">
    <h2>Adresa</h2>

    <a href="http://www.vscht.cz/"> Vysoká škola chemicko-technologická v Praze</a>
    <br>
    Technická 5
    <br>
    166 28 Praha 6
</div>
</div>
<div class="w3-third w3-center">
<div class="w3-card-4 w3-orange "style="height: 4.5cm;width: 95%">
<h2>Otevírací doba</h2>

<p>Po–Čt 9:00–12:00, 14:00–15:00
    <br>
    Pá 9:00–12:00, 13:00–14:00
    <br>
</p>
</div>
</div>
<div class="w3-third w3-center">
<div class="w3-card-4 w3-orange " style="height: 4.5cm;width: 95%">
<h2>Kontakty</h2>

    <p> e-mail: sklad@vscht.cz
        <br>
        Připomínky: podpora.sklad@vscht.cz
        <br>
        Telefon:  +420 220 44  3821
        <br>
        Sídlo:přízemí, budova A, místnost A83
    </p>
</div>
</div>

{% include "Chemdb/foot.html" %}