<!doctype html>
<!-- The DOCTYPE declaration above will set the     -->
<!-- browser's rendering engine into                -->
<!-- "Standards Mode". Replacing this declaration   -->
<!-- with a "Quirks Mode" doctype is not supported. -->

<html>


<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<title>Chemdb demo page</title>

<link href="static/css/w3.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


<script type="text/javascript" language="javascript" src="static/jsme/jsme.nocache.js"></script>
<script type="text/javascript" language="javascript" src="static/js/skripty.js"></script>

</head>


<body class="w3-container">
<ul class="w3-navbar w3-orange w3-small ">
  <li class="w3-right"><a href="admin/">admin <i class="material-icons">person</i></a></li>
</ul>







