<!doctype html>
<!-- The DOCTYPE declaration above will set the     -->
<!-- browser's rendering engine into                -->
<!-- "Standards Mode". Replacing this declaration   -->
<!-- with a "Quirks Mode" doctype is not supported. -->

<html>


<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<title>Chemdb demo page</title>

<link href="static/css/w3.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script type="text/javascript" language="javascript" src="static/js/skripty.js"></script>

</head>


<body class="w3-container">
<ul class="w3-navbar w3-orange w3-small ">
  <li class="w3-right"><a href="admin/">admin <i class="material-icons">person</i></a></li>
</ul>


<div class="w3-light-grey w3-container w3-padding-64 w3-center">
  <h1 class="w3-jumbo">Sklad chemikálií</h1>
  <p>Vítejte</p>
</div>

<div class="w3-topnav w3-large w3-center w3-orange">
  <a href="home">Home</a>
  <a href="insert">Vložit</a>
  <a href="search">Hledat</a>
  <a href="#">Link3</a>
  <a href="#">Link4</a>
  <a href="#">Link5</a>
</div>


<form method="POST">
<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable w3-card-4">

<tr class="w3-orange">
    <th><input id="input-select-all" class="w3-check" type="checkbox" name="mlk_all" id="mlk_all"  value="all"  onchange="checkAll(this)" /></th>
    <th>ID</th>
    <th>Image</th>
    <th>Molecular weight</th>
    <th>Molecular formula</th>
</tr>

{% for structure in structures %}

<tr >

	<td ><input class="w3-check" type="checkbox" name="mlk_id"  value="{{ structure.id }}"  /></td>
    <td onclick="location.href='structures/{{structure.id}}'">{{structure.mol_id}}</td>
	<td onclick="location.href='structures/{{structure.id}}'"><img src="structures/{{structure.id}}"style="width:10%"></td>
	<td onclick="location.href='structures/{{structure.id}}'">{{structure.round_mol_weight}}</td>
    <td onclick="location.href='structures/{{structure.id}}'">{{structure.mol_formula}}</td>


</tr>

{% endfor %}
</table>

<div class="w3-container w3-right-align">
    <br>
    {% csrf_token %}
    <button class="w3-btn w3-orange w3-border w3-round ">Stáhnout vybrané molekuly</button>
</div>
</form>
</body>
<footer class="w3-center w3-small">
  <p>Posted by: Hege Refsnes</p>
  <p>Contact information: <a href="mailto:someone@example.com">
  someone@example.com</a>.</p>
</footer>
</html>


